  <div class="flex flex-col justify-center items-center p-6 rounded-lg">
    <h1 class=" text-2xl font-bold mb-4">News Search</h1>

    <%= form_with url: news_index_path, method: :get, local: true, class: " mb-4" do %>
      <input type="text" name="q" placeholder="Enter keyword..." value="<%= params[:q] %>" class="input-basic " />
      <button type="submit" class="btn-primary ml-2 cursor-pointer">Search</button>
    <% end %>
  </div>

<% if @articles.present? %>

<div class="flex flex-col justify-center items-center w-full">
  <div class="grid grid-cols-4 gap-4 w-full max-w-5xl mb-2 font-bold border-b pb-2">
    <div class="flex justify-center">Title</div>
    <div class="flex justify-center">Source</div>
    <div class="flex justify-center">Link / Save</div>
    <div class="flex justify-center">Add Tag</div>
  </div>
  <% @articles.each do |article| %>
    <div class="grid grid-cols-4 gap-4 w-full max-w-5xl items-center border-b py-2">
      <div><%= article["title"] %></div>
      <div class="flex justify-center text-gray-500"><%= article["source"]["name"] %></div>
      
      <div class="flex justify-center ">
        <%= form_with url: saved_articles_path, method: :post, class: "inline-flex gap-2", local: false do %>
          <%= hidden_field_tag "saved_article[title]", article["title"] %>
          <%= hidden_field_tag "saved_article[url]", article["url"] %>
          <%= hidden_field_tag "saved_article[source]", article["source"]["name"] %>
          <div class="flex gap-2">
            <a href="<%= article["url"] %>" target="_blank" class="flex items-center text-blue-600 underline">Read more</a>
            <%= submit_tag "📌 Save for Later", class: "btn-save-for-later cursor-pointer" %>
          </div>
      </div>
      <div class="flex justify-center ">
          <%= text_field_tag "tags", "", placeholder: "Tags (comma separated)", class: "input-basic" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if @articles.present? && @total_pages && @total_pages > 1 %>
  <div class="flex justify-center gap-2 my-4">
    <% if @current_page > 1 %>
      <%= link_to "Previous", news_index_path(q: params[:q], page: @current_page - 1), class: "btn-save-for-later" %>
    <% end %>
    <span>Page <%= @current_page %> of <%= @total_pages %></span>
    <% if @current_page < @total_pages %>
      <%= link_to "Next", news_index_path(q: params[:q], page: @current_page + 1), class: "btn-save-for-later " %>
    <% end %>
  </div>
<% end %>
<% elsif params[:q].present? %>
  <p>No results found.</p>
<% end %>